# Binaries
bin/
bin-int/
Intermediates/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Volcano/vendor/VulkanSDK
VolcanoNut/assets/cache
scripts/__pycache__